* {
    text-align: right;
}

body {
    background-image: url(https://images.unsplash.com/photo-1487147264018-f937fba0c817?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
    background-size: cover;
}


p:hover {
    color: #8f3cc2;
    text-align: center;
    border: 5px solid rgba(176, 73, 216, 0.5);
    cursor: pointer;
}

p {
    line-height: 50px;
    font-style: italic;
    font-weight: bold;
    font-size: 100%;
    font-family: 'Poiret One', cursive;
}

img {
    float: right;
}

footer {
    clear: both;
    text-align: center;
}

li {
    list-style-type: none;
    display: inline-block;
}

.webtext {
    border: 5px dashed green;
}

.active {
    color: red;
}

#div1 {
    background: rgba(0, 0, 255, 0.2);
}

#div2 {
    background: rgba(255, 0, 0, 0.2);
}